<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download TikTok video or slideshow without watermark</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="font-poppins">
    <%-include('partial/header')-%>

    <main class="py-8">
        <div class="container">
            <% if (message.length > 0) { %>
                <div class="max-w-2xl mx-auto">
                    <p class="font-medium text-white bg-rose-500 p-2 rounded-md mb-8"><%= message %></p>
                </div>
            <% } %>

            <form id="search-form" action="/download" class="max-w-2xl mx-auto flex flex-col gap-2 mb-8">
                <div class="w-full flex flex-col">
                    <label for="url" class="font-medium text-slate-800">Video / Slideshow URL</label>
                    <input class="p-2 border shadow-sm rounded-md outline-none" type="url" name="url" id="url" placeholder="https://">
                </div>
                <button type="submit" class="btn text-white bg-primary group">Search<span class="group-disabled:loader"></span></button>
            </form>

            <div class="max-w-2xl mx-auto border rounded-md shadow-sm p-4">
                <h1 class="font-semibold text-xl text-primary">How to download?</h1>
                <ol class="list-decimal list-inside">
                    <li>Copy the video / slideshow URL from TikTok app/web</li>
                    <li>Paste it on the input box above</li>
                    <li>Click search and wait</li>
                    <li>TikTok video or slideshow without watermark is ready to download</li>
                </ol>
            </div>
            
        </div>
    </main>

    <%-include('partial/footer')-%>
    <script>
    const searchForm = document.querySelector('#search-form')
    searchForm.addEventListener('submit', (e)=>{
        searchForm.lastElementChild.setAttribute('disabled', true)
    })
    </script>
</body>
</html>